/PatientManagementSystem/build/
/PatientManagementSystem/dist/
/PatientManagementModel/nbproject/private/
/PatientManagementProject/nbproject/private/
/PatientManagementProject/dist/
/PatientManagementProject/build/
/PatientManagementModel/build/